{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}

<br>

{% for item in data %}
  <div class="card" style="width: 18rem;">
    <div class="row">
      <div class="col">
        <img class="img-thumbnail" src={{item.product_image}}>
      </div>
      <div class="col">
        <h4>{{ item.product_name }}</h4>
        <p>{{ item.product_price }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<br>

<div class="row">
  <div class="col">
    <h3>Total: &dollar;{{ total }}</h3>
  </div>
  <div class="col">
    <a class="btn btn-primary" href="/checkout">Continue to checkout</a>
  </div>
</div>

<script>
  
</script>

{% endblock %}